.section-1
{
    display:flex;
    background:#1F2937;
    color:white;
    flex-direction:column;
    height:40vh;
    margin:-.6rem;
    padding: 0 6rem;
    padding-bottom:1rem;
}

.header{
    display:flex;
    justify-content:space-between;
    width:100%;
    align-items:center;
    top:0;
}

.sub-section-container{
    display:flex;
    justify-content:space-around;
    width:100%;
    height:50%;
    margin-left:7rem;
}

.left{
    display:flex;
    font-weight:800;
    font-size:24px;
    color:#f9faf8;
    background:#1f2937;
}

.right{
    display:flex;
    color:#f9faf8;
    list-style:none;
}

a{
    color:#f9faf8;
    text-decoration:none;
    display:flex;
    padding:0.4rem;
}

.section-5{
    background:#1F2937;
    color:#f9faf8;
}

.sign-up-btn{
    color:#f9faf8;
    background: #3882F6;
}

.text-container{
   padding-top:1rem;
   padding-bottom:3rem;
   width:58%;
   padding-right:1rem;
   margin:0 auto;
}

.sub-section-container{
    display:flex;
    flex-direction:row;
}

.img-container{
    width: 40%;
}
.card-container{
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    width:150px;

}

.square{
    width:120px;
    height:120px;
    border:#3882F6 2px solid;
    border-radius:8px;
}

.section-2-title{
    text-align:center;
    padding: 1rem 0;

}

.section-2{
    display:flex;
    flex-direction: column;
    height:40vh;
    width:80%;
    margin:0 auto;
    padding-bottom:5rem;
}

.section-3{
    background:#E5E7EB;
    margin-left: -1rem;
    margin-right:-1.2rem;
    padding: 2rem 0;
    padding-left:1rem;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

.section-3-container{
    display:flex;
    flex-direction:column;
    width: 55%;
}

.section-3-thor{
    display:flex;
    justify-content:end;
}

.section-4{
    color:#f9faf8;
    margin:0 auto;
    margin:4rem 5rem;
}

.blue-container{
    background:#3882F6;
    margin:0 auto;
    width:80%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:4px;

}

.section-5{
    display:flex;
    justify-content:center;
    align-items:center;
    margin: -0.6rem;
}

.blue-left{
    display:flex;
    flex-direction: column;
}

.blue-btn{
    color:#f9faf8;
    border:#f9faf8 1px solid;
    background:#3882F6;
    border-radius:4px;
    padding:0.4rem 1.2rem;
}